<div class="container">
    <h2>CARRINHO</h2>
    <p>Boas compras!</p>
    <table class="table table-hover">
        <thead>
        <tr>
            <th>Produto</th>
            <th>Quantidade</th>
            <th>Preço Unitario</th>
            <th>Preço Total</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let c of produtosCarrinho">
            <td>{{c.nome}}</td>
            <td><input type="number" width="10" [(ngModel)]="qtProduto" ></td>
            <td>{{c.preco}}</td>
            <td>{{qtProduto * c.preco}}</td>
            <td>
                <a href="javascript:void(0)" class="btn btn-danger btn-sm" (click)="excluir(c)">Excluir</a>
            </td>
        </tbody>
    </table>
</div>
{{produtosCarrinho}}