<div class="row">
    <div class="col-sm-2">
        <h4>Categorias</h4>
        <ul>
            <li>
                <a href="javascript:void(0)" [class.filtro-ativo]="!filtroPorCategoria" (click)="removerFiltroPorCategoria()">Todas</a>
            </li>
            <li *ngFor="let categoria of categorias">
                <a href="javascript:void(0)" [class.filtro-ativo]="filtroPorCategoria === categoria" (click)="filtrarPorCategoria(categoria.id)">{{categoria.nome}}</a>
            </li>
        </ul>
    </div>
    <div class="col-sm-10">
        <div class="row d-flex justify-content-center">
            <div class="card mx-2 mb-2 text-center" style="width: 18rem;" *ngFor="let produto of produtosTodos">
                <img class="card-img-top" src="{{produto.url}}" alt="Card image cap" height="286">
                <div class="card-body">
                    <h5 class="card-title">{{produto.nome}}</h5>
                    <p class="card-text">R$ {{produto.preco}}</p>
                    <a href="#" class="btn btn-primary" (click)="addCarrinho(produto)">COMPRAR</a>
                </div>
            </div>
        </div>
    </div>
</div>